In [3]:
import numpy as np
import pandas as pd
import requests
import json
from pprint import pprint

file_to_load = "../raw-data/new Bank Data.csv"

# Read Purchasing File and store into Pandas data frame
df = pd.read_csv(file_to_load)

In [2]:
url = "https://banks.data.fdic.gov/api/summary?filters=STNAME%3A%22Alabama%22&fields=STNAME%2CYEAR%2CINTINC%2CEINTEXP%2CNIM%2CNONII%2CNONIX%2CELNATR%2CITAXR%2CIGLSEC%2CITAX%2CEXTRA%2CNETINC&sort_by=YEAR&sort_order=DESC&limit=10&offset=0&format=json&download=false&filename=data_file"
years = [1988,1989,1990,1991,1992,1993,1999,2000,2001,2002,2003,2005,2006,2007,2008,2009,2010,2011]

In [14]:

titledf = df.rename(index=str, columns = {"LNAUTO":"Auto Loans", "LNCON":"Total Loans", "LNCONOTH":"Other Loans", "LNCRCD":"Credit Cards", "LNRE":"Real Estate", "STNAME":"State", "TPD":"Total Past Due", "YEAR":"Year"})
titledf.head()
titledf.to_csv("../raw-data/fdicdata")

,Auto Loans,Total Loans,Other Loans,Credit Cards,Real Estate,State,Total Past Due,Year
0,6386.0,35123,21178,7559,1664322,Alaska,7175,2011
1,4014047.0,15142888,10076944,1051897,208604061,California,3437273,2011
2,1324845.0,4320157,1742526,1252786,47707735,Missouri,943278,2011
3,43173.0,19262737,43937,19175627,6769332,Nevada,667807,2011
4,808687.0,1358944,387775,162482,42019915,New Jersey,1348452,2011