In [21]:
import numpy as np
import pandas as pd
import requests
import json
from pprint import pprint

file_to_load = "../raw-data/new Bank Data.csv"

# Read Purchasing File and store into Pandas data frame
df = pd.read_csv(file_to_load)

In [28]:
url = "https://banks.data.fdic.gov/api/summary?filters=STNAME%3A%22Alabama%22&fields=STNAME%2CYEAR%2CINTINC%2CEINTEXP%2CNIM%2CNONII%2CNONIX%2CELNATR%2CITAXR%2CIGLSEC%2CITAX%2CEXTRA%2CNETINC&sort_by=YEAR&sort_order=DESC&limit=10&offset=0&format=json&download=false&filename=data_file"
years = [1998,1999,2000,2001,2002,2003,2005,2006,2007,2008,2009,2010,2011]

In [23]:

titledf = df.rename(index=str, columns = {"LNAUTO":"Auto Loans", "LNCON":"Total Loans", "LNCONOTH":"Other Loans", "LNCRCD":"Credit Cards", "LNRE":"Real Estate", "STNAME":"State", "TPD":"Total Past Due", "YEAR":"Year"})
titledf.head()
titledf.to_csv("../raw-data/fdicdata.csv")

In [145]:
incomedf = pd.DataFrame()

for year in years:
    csvread = pd.read_csv(f"./libs/{year}_income.csv")
    incomedf[f"Year {year}"] = csvread['Value']

#incomedf = incomedf.astype(int)
incomedf = incomedf.transpose()
incomedf
incomedf["Income"] = incomedf.sum(axis=1)
#incomedf.astype(float)

#testdf = pd.DataFrame(incomedf["Year 1998"])
#testdf.sum()

,0,1,2,3,4,5,6,7,8,9,...,41,42,43,44,45,46,47,48,49,50
Year 1998,"100,081.0","18,046.0","117,363.6","55,917.1","962,746.1","122,314.7","126,866.7","21,525.5","22,495.3","415,546.7",...,"18,240.7","141,380.9","514,479.6","48,820.8","15,303.7","199,656.0","169,625.8","37,281.5","143,010.5","12,656.3"
Year 1999,"103,536.0","18,603.1","124,099.5","58,129.5","1,028,383.3","132,205.0","134,176.3","22,511.9","24,140.1","435,726.0",...,"19,094.0","147,003.9","541,693.7","51,414.4","16,302.6","213,981.6","181,364.8","38,282.6","149,069.7","13,504.8"
Year 2000,"108,506.2","20,020.3","134,952.0","61,136.6","1,135,314.5","147,234.3","147,015.2","24,786.5","26,628.5","471,082.2",...,"20,325.0","155,574.4","589,618.3","55,060.1","17,627.4","232,033.6","194,207.1","40,452.6","158,927.6","14,514.3"
Year 2001,"112,312.1","21,181.7","140,805.6","64,374.9","1,175,177.7","154,409.8","155,326.5","25,670.9","29,340.4","495,620.0",...,"20,982.5","159,459.9","625,351.8","57,414.1","18,692.9","244,136.7","199,075.2","42,849.8","166,810.4","15,320.2"
Year 2002,"115,166.1","22,201.9","145,930.3","65,878.2","1,193,779.4","154,765.5","155,240.9","25,838.2","30,328.7","512,579.5",...,"21,003.5","164,012.6","632,485.7","59,048.8","19,073.4","250,928.1","202,861.5","44,286.6","171,173.6","15,724.5"
Year 2003,"120,209.9","23,190.6","154,810.7","69,722.0","1,249,800.3","157,543.2","157,488.0","26,173.7","31,030.8","538,104.0",...,"22,919.6","170,680.0","655,821.6","61,152.6","19,812.9","265,980.4","210,864.2","44,871.4","175,869.8","16,668.8"
Year 2005,"136,215.3","25,888.5","188,149.0","78,138.5","1,408,965.3","174,771.6","175,733.0","30,275.6","33,165.8","641,627.4",...,"26,055.1","188,857.5","747,110.9","71,386.9","21,467.3","304,720.5","235,226.5","48,840.4","190,527.6","19,574.5"
Year 2006,"144,914.3","27,607.0","209,009.7","83,020.8","1,517,898.2","188,803.3","190,585.8","32,037.2","35,225.8","697,871.2",...,"27,503.9","201,170.7","820,054.9","79,437.9","22,941.0","326,171.6","256,517.4","52,178.8","202,454.0","22,574.9"
Year 2007,"152,210.6","29,712.5","220,652.4","88,484.9","1,583,029.8","201,227.3","205,012.5","34,497.3","36,335.7","726,357.4",...,"30,539.8","211,071.0","871,849.7","86,368.5","24,192.0","343,287.8","278,655.9","54,198.6","211,886.6","24,018.5"
Year 2008,"157,479.5","32,701.9","223,221.9","91,798.2","1,606,764.5","207,772.7","217,022.6","35,533.5","36,033.8","727,016.1",...,"32,632.8","218,783.3","956,545.5","90,567.1","25,368.9","356,434.4","292,344.4","57,652.4","219,514.5","26,333.8"
Year 2009,"155,254.7","32,749.1","211,397.7","90,242.5","1,554,229.7","198,147.2","213,686.8","35,803.4","36,291.1","682,319.6",...,"31,681.8","217,319.2","911,227.0","86,896.5","24,990.4","348,944.2","279,037.8","58,149.8","215,913.3","24,346.8"
Year 2010,"161,965.5","35,162.9","215,012.4","93,103.2","1,627,839.0","204,691.9","222,631.7","38,513.9","36,707.2","725,801.1",...,"33,512.3","227,763.4","966,900.3","89,346.0","25,787.1","364,382.5","286,732.3","60,061.5","221,895.3","25,967.1"
Year 2011,"167,675.6","37,580.6","225,853.2","99,328.7","1,738,413.1","222,572.0","229,055.1","41,968.5","39,796.7","766,185.8",...,"36,636.0","241,769.0","1,058,034.2","96,312.3","27,350.3","386,298.0","303,939.3","63,448.7","234,574.9","28,426.3"

In [90]:
c = pd.read_csv(f"./libs/1998_income.csv")
c_d = pd.DataFrame(c['Value'])
c_d

    Unnamed: 0                 State      Value
0            0               Alabama  100,081.0
1            1              Alaska *   18,046.0
2            2               Arizona  117,363.6
3            3              Arkansas   55,917.1
4            4            California  962,746.1
5            5              Colorado  122,314.7
6            6           Connecticut  126,866.7
7            7  District of Columbia   21,525.5
8            8              Delaware   22,495.3
9            9               Florida  415,546.7
10          10               Georgia  205,109.4
11          11              Hawaii *   32,703.4
12          12                 Idaho   28,286.0
13          13              Illinois  368,119.4
14          14               Indiana  154,513.7
15          15                  Iowa   73,576.3
16          16                Kansas   69,987.2
17          17              Kentucky   89,738.3
18          18             Louisiana   98,923.7
19          19                 Maine   30,941.3
20          20              Maryland  163,365.5
21          21         Massachusetts  206,746.1
22          22              Michigan  269,062.1
23          23             Minnesota  139,858.7
24          24           Mississippi   56,804.4
25          25              Missouri  141,141.5
26          26               Montana   19,268.9
27          27              Nebraska   45,067.4
28          28                Nevada   54,524.9
29          29         New Hampshire   36,646.2
30          30            New Jersey  286,990.2
31          31            New Mexico   38,228.5
32          32              New York  600,536.3
33          33        North Carolina  198,159.7
34          34          North Dakota   15,195.7
35          35                  Ohio  299,075.5
36          36              Oklahoma   75,061.7
37          37                Oregon   86,862.9
38          38          Pennsylvania  335,664.4
39          39          Rhode Island   28,279.8
40          40        South Carolina   89,796.5
41          41          South Dakota   18,240.7
42          42             Tennessee  141,380.9
43          43                 Texas  514,479.6
44          44                  Utah   48,820.8
45          45               Vermont   15,303.7
46          46              Virginia  199,656.0
47          47            Washington  169,625.8
48          48         West Virginia   37,281.5
49          49             Wisconsin  143,010.5
50          50               Wyoming   12,656.3